/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of reset css*/

html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*-----BODY -----*/

body {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;	/*also loaded 600 for bold*/
	display:flex;
	flex-direction:column;
	align-items:center;

}

h1{ font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
}
.white{color:#ffffff;
}

.red {color:rgba(245,2,6,1.00);
}

.strong{font-weight:bold;
}



.small {font-size:0.8em; 
	}
	
.align-center { text-align:center
}
a {text-decoration:none;
}

p { padding-left:1em;
	letter-spacing: 1px;
	line-height:1.3em;
}

.hidden {display:none;
}

.bg-brown {
 
    background-color: rgba(47,23,15,.9);
}

.mt-20{
    margin-top:20px;
}


/*end of global css*/

body{
    background: linear-gradient(rgba(47,23,15,.75),rgba(47,23,15,.75)),url(../img/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.button{
    padding:5px 20px;
    cursor: pointer;
    font-weight: 600;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
   
}
.button:hover{
   color: rgb(202, 201, 201);
    -webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
    -moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
    box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
    }
   .border-bottom {
       color: rgb(202, 201, 201);
   } 
/*****************TOP -NAVIGARION*****************************/

.navbar-dark .navbar-nav a.nav-link {
    color: rgba(255,255,255,.7);
    font-weight: 500
} 
  
.navbar-dark .navbar-nav a.nav-link:hover{
    color: #e6a756;
}

nav.top-navigation form input.form-control{
    padding-top:0;
    padding-bottom:0;
    max-width:140px;
    font-size: 1em;
}
nav.top-navigation ul li a,
nav.top-navigation form input
 {
    -webkit-animation: divscrollmenumove 1s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear;
    /* Safari 4.0 - 8.0 */
    animation: divscrollmenumove 1s;
    animation-timing-function: linear;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes divscrollmenumove {
    from {
        padding-right:0;
        padding-left:0;
    }
    to {
        padding-right:  10px;
        padding-left:10px;
    }
}

@keyframes divscrollmenumove {
    from {
        padding-right:0;
        padding-left:0;
    }
    to {
        padding-right:  10px;
        padding-left:10px;
    }
}
  
  /*******************END TOP MENU *******************/
 div.devider{
     height:70px;
 }
/*MAIN*/
.top-container{
    background-color: rgba(230,167,86,.8);
    min-width:100vw;
    padding:20px 0;
}

/*video Player*/
#presentation-video iframe {
   width: 100%;
    height: 400px;
    border:2px solid rgba(255,255,255,.7);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: auto;
    -webkit-animation: scrolldowniframe 0.5s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-timing-function: linear;
    /* Safari 4.0 - 8.0 */
    animation: scrolldowniframe 0.5s;
    animation-timing-function: linear;
   
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes scrolldowniframe {
    from {
        margin-top:-20px
    }
    to {
       margin-top:0
    }
}

@keyframes scrolldowniframe {
    from {
        margin-top:-20px
    }
    to {
       margin-top:0
    }
}

.media-body{
    text-align: left;
}

.media-body h3{
    margin-left:5px
}

.media-body button{
background-color: rgba(47,23,15,1);
border:2px groove rgba(47,23,15,1);
}

/*comment form*/
form{
    margin-bottom:20px;
    padding-top:10px;
}

label{
    font-size:2em; 
}

form button{
background-color:#e6a756;
border:2px solid #e6a756;
}

/*end of commit comment*/


/*list of users comments*/
ul.comments-list{
    background-color: rgba(47,23,15,.5);
}
li.media .media_body{
    width:50%; 
}

/*FOOTER*/

footer {
    font-size:1em;
    background-color: rgba(47,23,15,.5);
}

footer p{
    text-align: center
}


/*media Query*/

@media (max-width: 700px){
    #presentation-video iframe{
     
       margin:0 auto;
       height: 300px;
      
    }
}
